<h1> Restaurant Details </h1>

<h2><%= @restaurant.name %></h2>
<p><%= @restaurant.address %></p>

<% @reviews.each do |review| %>
 <h3>Avis</h3>
  <ul>
    <li><%= link_to review.content, restaurant_reviews_path(@restaurant) %></li>
  <li><%= review.rating %></li>
</ul>
<% end %>


<%= link_to "Add a Review", new_restaurant_review_path(@restaurant) , :class => "btn btn-primary" %>
<br>
<%= link_to restaurants_path do %>
  <i class="fa fa-history" class = "pull-right btn btn-default" ></i> Back to list
<% end %>

</div>
